  .container{
    width: 40%;
    margin: auto;
    margin-top: 1rem;
  }

  .post-container {
    margin: 5px 0;
    margin-bottom: 3rem;
    border: 1px solid rgba(211, 211, 211, 0.9);
    border-radius: 4px;
  }

  .postheader-container {
    display: flex;
    align-items: center;
  }

  .profile-thumbnail {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    border-radius: 50%;
  }

  .profile-name {
    font-weight: bold;
    font-size: 1.1rem;
  }

  .profile-name:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .post-image {
    width: 100%;
  }